body{
    background-image: linear-gradient(to right, black, #0404B4);
}
.link1{
    color: bleue;
    margin:15px;
    text-decoration:none;
    background-image: linear-gradient (to right, grey, white);
}
link2{
    background-image: grey;
    color: blue;
    margin:15px;
    padding:5px;
    text-decoration:none;
}
.link:hover{
    color: red;
    text-decoration:none;
}
.info{
    text-align:center;
    margin-top:20%;
    background-color: white;
    padding-top:10px;
    border-radius:15px;
}
.givenInfo{
    text-align:center;
    margin-top:20%;
    color:black;
    background-color:white;
    border-radius:15px;
    padding-top:10px;
}